<<<<<<< HEAD
<h1>New Article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
=======
<h1>Create New Article!</h1>

<%= form_for @article do |f| %>
	<p>
		<%= f.label:title %></br>
		<%= f.text_field :title%>
		
	</p>
	<p>
		<%= f.label:description %></br>
		<%= f.text_area:description %>
	</p>
	<%= f.submit %>
<% end %>
>>>>>>> dev
